* {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  color: #2f1343;
  font-family: 'Barlow', sans-serif;
}

h2 {
  font-family: 'ozwald', sans-serif;
}

img {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 100%;
  padding: 25vh 2em;
  /* font-size: .75em; */
}

.page {
  width: 100%;
  min-height: 100%;
  padding: 2em 2em 2em 5em;
}

/* .page.show {
  height: auto;
} */
.upper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper img {
  width: 50%;
  max-height: 80%;
  margin: 0 1em;
}

.upper div {
  margin: 0 1em;
}

.text {
  display: flex;
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.fa-arrow-down {
  margin-top: 1em;
}

.reverse .fa-arrow-down {
  align-self: flex-end;
  margin-right: .25em;
}

.lower {
  display: flex;
  flex-direction: column;
  padding: 0 2em 2em 6em;
}

.fa-arrow-up {
  align-self: center;
}